
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq-header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #d1dace, #6ee351);
}

.faq-header h1 {
    margin-bottom: 20px;
    color: #2b451f;
    font-size: 28px;
}
.faq-header p {
    margin-bottom: 20px;
    color: #0f0f0e;
    font-size: 20px;
}

.faq-header .search-bar {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    border: 20px solid rgb(204, 243, 211);
    border-radius: 10px;
    overflow: hidden;
}

.faq-header input[type="text"] {
    flex: 1;
    font-size:18px;
    padding: 15px;
    border: 1px solid #ddd;
    border-right: none;
    
    outline: none;
}

.faq-header button {
    padding: 15px 20px;
    border: none;
    background-color: #8DC63F;
    font-size:14px;
    color: white;
    cursor: pointer;
    
    outline: none;

}

.faq-categories {
    padding: 40px 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.faq-categories h2 {
    margin-bottom: 20px;
    color: #050558;
    font-size: 28px;
    
}
.faq-categories  span {
    margin-bottom: 20px;
    color: #2d4c9c;
    font-size: 28px;
    font-weight: 700;
}


.faq-categories p {
    margin-bottom: 30px;
    color: #111314;
}

.faq-categories .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.faq-categories .category-item {
    background-color: #a1d0f5;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    flex-basis: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.faq-categories .category-item:hover {
   zoom: 1.1;
    background-color: #dad554;
}

.faq-contact {
    padding: 40px 20px;
    background: linear-gradient(to bottom, #003366, #003366);
    color: white;
    text-align: center;
}

.faq-contact h3 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
}
.faq-contact h3 span {
    margin-bottom: 30px;
    color: #f6d417;
}

.faq-contact form {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
}
.faq-contact form p{
    text-align: left;
    margin-left: 0;
}
.faq-contact form label{
    
    font-size: 16px;
    color: white;
    margin-bottom: 0px;
    
   
}
.faq-contact ::placeholder{
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
}
.role-dropdown {
    width:100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #9ecdf1;
    color: #333333;
   
}
.role-dropdown option {
    background-color: white;
    color: black;
}


.faq-contact form input,
.faq-contact form select,
.faq-contact form textarea,
.faq-contact form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.faq-contact form input[type="text"],
.faq-contact form input,

[type="email"] {
    background-color: white;
    color: #333;
}

.faq-contact form button {
    background-color: #f2e63a;
    color: black;
    padding-top: 2px;
    cursor: pointer;
    font-size:20px;
    width: 200px;
    height:40px;
    border-radius: 30px;
    border: 2px solid rgb(242, 229, 229);
}

.faq-contact form button:hover {
    background-color: #1763af;
    zoom: 1.1;
}

/* Responsive */
@media (max-width: 768px) {
    .faq-categories .category-item {
        flex-basis: 48%;
    }
   
}
@media (min-width: 768px) {
    .faq-categories .category-item {
        flex-basis: 48%;
    }
   
}

@media (min-width: 1024px) {
    .faq-categories .category-item {
        flex-basis: 30%;
    }

    .faq-header h1 {
        font-size: 32px;
    }
   
}
